{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block content %}
    <h1>Page index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre_onglet</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Ordre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.titreOnglet }}</td>
                <td>{{ page.image }}</td>
                <td>{{ page.titre }}</td>
                <td>{{ page.texte }}</td>
                <td>{{ page.date }}</td>
                <td>{{ page.etat }}</td>
                <td>{{ page.ordre }}</td>
                <td>
                    <a href="{{ path('page_show', {'id': page.id}) }}" "btn btn-success">show</a>
                    <a href="{{ path('page_edit', {'id': page.id}) }}" "btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('page_new') }}">Create new</a>
{% endblock %}
