{% extends "base.html.twig" %}

{% block title %}
    {{titre}}

{% endblock %}

{% block content %}
<h1>{{titre | capitalize}}</h1>
<p>{{titre}}</p>
<div class="card" style="width: 18rem;">
  <img src="/public/image/" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <ul>
    {% for elem in list %}
        <li>{{elem}}</li>
    {% endfor %}

    </ul>


{% endblock %}

{% block css %}
    <link rel="stylesheet" href="" />
{% endblock %}

{% block js %}
    <script src="{{ asset('js/accueil.js')}}"></script>
{% endblock %}




