{% extends 'base.html.twig' %}

{% block title %}Liste des contact{% endblock %}

{% block content %}

<div class="container">

<h1>Liste des contacts</h1>
<p>
    <a href="{{path('contact_add')}}" class="btn btn-success">
    Créer un contact
    </a>
<div class= "container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Pass sanitaire</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    {% for contact in contacts %}
        <tr>
            <td>#{{contact.id}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.firstname}}</td>
            <td>
            {% if contact.sanitaryPass %}
                oui
            {% else %}
                non
            {% endif %}
            </td>
            <td>
            <a class="btn btn-sm btn-info" href="{{path('contact_detail',{id: contact.id})}}">details</a>
            <a class="btn btn-sm btn-warning" href="{{path('contact_update',{id: contact.id})}}">update</a>

            </td>

        </tr>
            {% endfor %}

    </tbody>
</table>

</div>




</div>
{% endblock %}
